{% extends 'base.html.twig' %}
{% block body %}
	<h1>Accueil - Site de covoiturage</h1>
	<br>
	<a href="inscription">Inscription</a>
	{% if trajets|length > 0 %}
	<h2>Prochains trajets</h2>
	<ul>
	{% for trajet in trajets %}
		<li>{{ trajet.getLieuDepart().getNom() }} => {{ trajet.getLieuArrivee().getNom() }} | {{ trajet.getNbPlaces() }} {% if trajet.getNbPlaces() == 1 %}place{% else %}places{% endif %} par {{ trajet.getAuteur().getPrenom() }} {{ trajet.getAuteur().getNom() }}</li>
	{% endfor %}
	{% else %}
	<h2>Aucun trajet disponible</h2>
	{% endif %}
	</ul>
{% endblock %}