{% extends 'base.html.twig' %}
{% block body %}
	<h1>Inscription - Site de covoiturage</h1>

	{{ form_start(form) }}
		{{ form_row(form.pseudo) }}
		{{ form_row(form.email) }}
		{{ form_row(form.password.first) }}
		{{ form_row(form.password.second) }}

		<button type="submit">Enregistrer</button>
	{{ form_end(form) }}
{% endblock %}